<!DOCTYPE html>
<html>

<head>

    {% block head %}
      <title>Gerenciamento da Academia</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="https://i.imgur.com/r55Mzn3.png" type="image/x-icon">
    
</head>

<body>
    <header>
        <div class="logo">
            <a href="/" title="Gym Management">
                <img src="https://i.imgur.com/SBQzZz8.png" alt="Gym Management">
            </a>
        </div>

        <div class="links">
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>
        </div>
        

    </header>
    
    
    {% block content %}


    {% endblock %}

    <script src="/scripts.js"></script>
</body>
</html>